<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Education</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>

  <!-- Footer -->
  <footer>
    <div class="left-icons">
      <a href="../estudios.html"><i class="fas fa-solid fa-earth-americas"></i></a>
    </div>
    <div class="right-icons">
      <a href="../En/education.html"><i class="fas fa-solid fa-signs-post"></i></a>
      <a href="./experience.html"><i class="fas fa-solid fa-school"></i></a>
      <a href="./index_en.html"><i class="fas fa-id-card"></i></a>
    </div>
  </footer>

  <main class="contenido container">
    <h1>My Educational Background</h1>

    <section>
      <h2>Compulsory Secondary Education (ESO)</h2>
      <p><strong>2016 - 2020:</strong> I completed my ESO studies at <strong>Colegio Alpes</strong>, located on <em>Rambla Just Olivera - L'Hospitalet de Llobregat</em>.</p>
      <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.396680414405!2d2.094708015725666!3d41.36289207926498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4991861f67321%3A0x6c29ae4d881871c1!2sCol%C2%B7legi%20Alpes!5e0!3m2!1ses!2ses!4v1715175123872!5m2!1ses!2ses" 
        width="100%" 
        height="300" 
        style="border:0;" 
        allowfullscreen 
        loading="lazy">
      </iframe>
    </section>

    <section>
      <h2>Vocational Training</h2>
      <p><strong>2023 - 2024:</strong> I started a mid-level vocational training programme in <strong>Microcomputer Systems and Networks (SMX1)</strong> at <em>Jesuïtes Bellvitge - Centre d'Estudis Joan XXIII, L'Hospitalet de Llobregat, Barcelona</em>.</p>
      <p><strong>Currently:</strong> I’m studying <strong>SMX2</strong> and continuing to deepen my IT knowledge at the same institution.</p>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.3884327031913!2d2.1051083765066163!3d41.34989647129681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1715175518659!5m2!1ses!2ses" 
        width="100%" 
        height="300" 
        style="border:0;" 
        allowfullscreen 
        loading="lazy">
      </iframe>
    </section>

    <section>
      <h2>Driving School</h2>
      <p><strong>2024:</strong> I studied at the <strong>Soy18 Driving School</strong>, located in <em>L'Hospitalet de Llobregat</em>, to obtain my driving licence.</p>
      <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.0943821605486!2d2.1111590765089873!3d41.36919769802425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49926a4ab81a9%3A0x1ca11e4fda0db318!2sAutoescuela%20SOY18!5e0!3m2!1ses!2ses!4v1715173432783!5m2!1ses!2ses" 
        width="100%" 
        height="300" 
        style="border:0;" 
        allowfullscreen 
        loading="lazy">
      </iframe>
    </section>
  </main>

</body>
</html>
